body{
    background-image: url(images/homeback.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
}


@font-face {
    font-family: 'Asmelina Harley';
    src: url(fonts/AsmelinaHarleyRegular.woff2) format('woff2'),
        url(fonts/AsmelinaHarleyRegular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.container{
display: grid;
grid-template-columns: repeat(1fr, 3);
grid-template-rows: repeat(1fr, 3);
justify-content: center;
align-items: center;
}

.gap-left{
grid-area: 1/1/4/2;
width: 9.375em;
}
.gap-right{
grid-area: 1/3/4/4;
width: 9.375em;
}

h1{
    text-align: center;
}
.title{
justify-content: center;
align-items: center;
padding-top: 150px;
grid-area: 2/1/3/4;
position: relative;
animation-name: hinge;
animation-duration: 2s;
}

@keyframes hinge {
    20%, 60% { 
       transform: rotate(70deg);
       animation-timing-function: ease-in-out;
  
    }
    40%, 80% { 
       transform: rotate(55deg); 
       opacity: 1;
       animation-timing-function: ease-in-out;
    }
    100% { 
       transform: translateY(600px); 
       opacity: 0; 
       animation-timing-function: ease-in-out;
    } 
}

.foot{
    font-family: 'Asmelina Harley';
    font-size: 42px;
    color: #05246c;
    grid-area: 3/1/4/4;
    padding: 15px;
    animation-name: marquee;
    animation: marquee 11s infinite linear;
    align-items: center;
    text-align: center;
}
@keyframes marquee {
    0%{
        transform: translateX(100%);
        left: 100%;
    }
    100%{ left: 0;
    transform: translateX(-100%);}
}

.house{
    grid-area: 2/2/3/3;
    position: relative;
}

@media (max-width: 1512px){
        .body{
         display: flex;
         justify-content: center;
         height: 100%;
         width: 100%;
        }
}
    
@media only screen and (max-width: 600px) {
        .body {
            justify-content: center;
            align-items: center;
            margin: auto;
            width: fit-content;
        }
        .container{
            display: grid;
            grid-template-columns: 1;
            grid-template-rows: 3;
         
        }
        .house{
            grid-area: 2/1/3/2;
            justify-content: center;
            align-self: center;
            padding-left: 50px;
        }
        img{
            width: 100%;
            height: auto;
        }
        .foot{
            grid-area: 3/1/4/2;
            font-size: 70%;
        }
        .title{
            grid-area: 1/1/2/2;
            font-size: 60%;
        }
    
}
    
 @media only screen and (max-width: 1024px) {
        .body{
            margin: auto;
            display: flex;
            justify-content: center;
            height: 100%;
            width: 100%;
        }
}

img{
    filter: grayscale(100%);
    transition: all 0.5s ease;
}
img:hover{
    transform: scale(105%);
    filter: grayscale(0%);
}