body{
    background-image: url(images/homeback.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
}

@font-face {
    font-family: 'Marcopolo';
    src: url(fonts/Marcopolo.woff2) format('woff2'),
        url(fonts/Marcopolo.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Asmelina Harley';
    src: url(fonts/AsmelinaHarleyRegular.woff2) format('woff2'),
        url(fonts/AsmelinaHarleyRegular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.container{
display: grid;
grid-template-columns: repeat(1fr, 5);
grid-template-rows: repeat(1fr, 6);
align-items: center;
justify-content: center;
}

.gap-left{
grid-area: 1/1/7/2;
width: 150px;
}
.gap-right{
grid-area: 1/5/7/6;
width: 150px;
}
.break1{
    height: 50px;
}
.title{
grid-area: 2/2/3/5;
align-items: center;
justify-content: center;
padding-top: 50px;
position: relative;
}

.kitchen{
position: relative;
grid-area: 4/3/5/5;
}
.bathroom{
position: relative;
grid-area: 4/2/5/4;
}
.hallway{
position: relative;
grid-area: 5/3/6/4;
}
.bed1{
 position: relative;
 grid-area: 5/2/6/3;

}
.living{
position: relative;
grid-area: 6/2/7/5;

}
.office{
position: relative;
grid-area: 5/4/6/5;
}
.attic{
position: relative;
grid-area: 3/2/4/5;
}
.house{
    grid-area: 3/2/7/5;
    position: relative;
    }

@media (max-width: 1512px){
        .body{
         margin: auto;
        }
}
    
@media only screen and (max-width: 600px) {
        .body {
            margin: auto;
        }
    
}
    
 @media only screen and (max-width: 1024px) {
        .body{
            margin: auto;
        }
}

img{
    filter: grayscale(100%);
    transition: all 0.5s ease;
}
img:hover{
    transform: scale(105%);
    filter: grayscale(0%);
}