body{
    background-color: #9191c9;
}
.container{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 2);
    overflow: hidden;
}

.block{
text-align: left;
width: 430px;
grid-area: 1/1/3/2;
}
.outline{
    align-items: right;
    justify-content: right;
    grid-area: 1/1/2/2;
    padding-left: 540px;
}
.collage{
    align-items: center;
    justify-content: center;
    grid-area: 1/1/3/2;
    padding-left: 350px;
    padding-top: 120px;
}
.swirl{
    align-items: right;
    justify-content: right;
    grid-area: 1/1/3/2;
    padding-left: 200px;
}


