body{
    background-image: url(../images/gingham02.png);
    background-repeat: repeat;
    background-size: cover;
    margin: auto;
}
.container{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 2);
}
@media (max-width: 1512px){
    .body{
     display: flex;
     justify-content: center;
     height: 100%;
     width: 100%;
    }
}
       
@media only screen and (max-width: 600px) {
    .body {
        margin: auto;
        justify-content: center;
        align-items: center;
        margin: auto;
        scale: 50%;
    }

}

@media only screen and (max-width: 1024px) {
    .body{
        margin: auto;
    }
}
.block{
text-align: left;
width: 430px;
grid-area: 1/1/3/2;
}
.outline{
    align-items: right;
    justify-content: right;
    grid-area: 1/1/2/2;
    padding-left: 510px;
    filter: grayscale(100%);
    position: relative;
}
.collage{
    align-items: center;
    justify-content: center;
    grid-area: 1/1/3/2;
    padding-left: 350px;
    padding-top: 70px;
    position: relative;
}
.swirl{
    align-items: right;
    justify-content: right;
    grid-area: 1/1/3/2;
    padding-left: 240px;
    position: relative;
}
.home{
    grid-area: 1/1/3/2;
    padding: 0.625em;
    padding-left: 69.375em;
    position: relative;
    align-self: self-end;

}
img{
        transition: all 0.5s ease;
    }
img:hover{
        transform: scale(105%);
}
    

