body{
    background-image: url(../images/gingham05.png);
    background-repeat: repeat;
    background-size: cover;
    margin: auto;
}
@media (max-width: 1512px){
    .body{
     margin: auto;
    }
}

@media only screen and (max-width: 600px) {
    .body {
        margin: auto;
    }

}

@media only screen and (max-width: 1024px) {
    .body{
        margin: auto;
    }
}
.container{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 2);
}

.outline{
    align-items: center;
    justify-content: center;
    grid-area: 2/1/3/2;
    filter: grayscale(100%);
    padding-top: 250px;
    position: relative;
}
.collage{
    align-items: center;
    justify-content: center;
    grid-area: 1/1/3/2;
    padding-left: 280px;
    padding-top: 110px;
    position: relative;
}
.swirl{
    align-items: left;
    justify-content: left;
    grid-area: 1/1/3/2;
    position: relative;
    padding-left: 200px;
}
.home{
    grid-area: 1/1/3/2;
    position: relative;
    padding: 10px;
    justify-self: right;
    align-self: self-end;
}
img{
    transition: all 0.5s ease;
}
img:hover{
    transform: scale(105%);
}