body{
    background-image: url(../images/gingham07.png);
    background-repeat: repeat;
    background-size: cover;
    margin: auto;
}
.container{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 2);
    overflow: hidden;
}
@media (max-width: 1512px){
    .body{
     margin: auto;
    }
}

@media only screen and (max-width: 600px) {
    .body {
        margin: auto;
    }

}

@media only screen and (max-width: 1024px) {
    .body{
        margin: auto;
    }
}
.block{
text-align: left;
width: 430px;
grid-area: 1/1/3/2;

}

.outline{
    align-items: left;
    justify-content: left;
    grid-area: 1/1/2/2;
    width: 720px;
    filter: grayscale(100%);
    position: relative;
}
.collage{
    align-items: right;
    justify-content: right;
    grid-area: 1/1/3/2;
    padding-left: 550px;
    padding-top: 75px;
    position: relative;
}
.swirl{
    align-items: right;
    justify-content: right;
    grid-area: 1/1/3/2;
    position: relative;
}
.home{
    grid-area: 1/1/3/2;
    padding: 0.625em;
    padding-left: 69.375em;
    position: relative;
    align-self: self-end;

}
img{
        transition: all 0.5s ease;
    }
img:hover{
        transform: scale(105%);
}
    

